@* <style>
    .tipoAnimal{
        border: solid 1px #aaa;
        border-radius: 10px;
        padding: 12px;
    }
        .tipoAnimal .tipoAnimal{
        display: inline-block;
        float: left;
        max-width: 200px;
        font-size: 12px;
        }
    .clearer {
        clear: both;
    }
</style> *@

<div class="tipoAnimal">
    <p>Tipo de animales</p>
    <div class="animal">
        <h4>Gatos</h4>
        <p>
            Los gatos son animales independientes y cariñosos que suele ser excelentes compañeros.
        </p>
    </div>
    <div class="animal">
        <h4>Perros</h4>
        <p>
            Los perros son mascotas leales y cariñosas que a menudo se consideran parte de la família.
        </p>
    </div>
    <div class="animal">
        <h4>Conejos</h4>
        <p>
            Los conejos son animales adorables y juguetones que suelen ser excelentes mascotas.
        </p>
    </div>
    <div class="animal">
        <h4>Hámsters</h4>
        <p>
            Los hámsters son pequeños roedores que a menudo se mantienen como mascotas en jaulas.
        </p>
    </div>
    <div class="clearer"></div>
</div>
