@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>FORMULARIO DE LA MUERTE SUPER GUAPO</h1>

    <form asp-controller="Home" asp-action="SubmitForm"
          method="post">
        <div class="row">
            <div class="form-group">
                <input name="nombre" placeholder="Nombre"
                       class="form-control" />
            </div>
            <div class="form-group">
                <input name="edad" placeholder="Edad" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
